body{
    background-color: 	#E0E0E0;
}
header{
    background-color: 	#282828;
    color: white
}

.container{
    margin-top: 50px;
}

.forecast-day{
    color: white;
    padding: 10px;
    min-height: 100%;
    margin-right: 20px;
}

.forecast-row{
    margin-top: 20px;
}
.side-bar{
    padding-right: 50px;
    margin-bottom: 50px;
}
.info-row{
    border: 2px solid black;
    background-color: white;
}
.btn-test{
    min-width: 100%;
    background-color: white;
}